/*Class selector for class links and block*/
 .links {
    background-color: hsl(195, 53%, 79%);
    color: rgb(0,0,0);
    margin-top: .5cm;
    margin-bottom: .5cm;
    margin-left: .5cm;
    margin-right: .5cm;
    padding-left: .25in;
    padding-right: .25in;
    padding-top: .25in;
    padding-bottom: .25in;
    border: 5px solid black;
  }

  .block {
    background-color: #f5f5dc;
    color: rgb(0,0,0);
    margin: .5cm .5cm .5cm .5cm;
    padding: .25in .25in .25in .25in;
    border: 5px solid black;
  }

 #id {
    text-align: center;
    color: red;
  }

  /*Universal Selector*/
 * h1{
    font-family: helvetica;
    margin: auto;
 }

 p {
    text-align: center;
    color: red;
  }

  a[target] {
    background-color: yellow;
  }

  a:hover {
    color: #FF00FF;
  }

  h2, h3, h4, h5, h6 {
    font-family: helvetica;
  }

  div p {
    background-color: yellow;
  }

  div > p {
    background-color: yellow;
  }

  div + p {
    background-color: yellow;
  }

  div ~ p {
    background-color: yellow;
  }

/* Combining Two Selectors */

 h1:has(+ h2) {
    margin: 0 0 1rem 0;
  }

/* nesting selectors */