/*Class selector for class links*/
 .block {
    background-color: hsl(195, 53%, 79%);
    color: rgb(0,0,0);
    margin: .5cm;
    padding: .25in;
    border: 5px solid black;
  }

 #id {
    text-align: center;
    color: red;
  }

 * {
    property : value;
 }

 p {
    text-align: center;
    color: red;
  }

  a[target] {
    background-color: yellow;
  }

  a:hover {
    color: #FF00FF;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: helvetica;
  }

  div p {
    background-color: yellow;
  }

  div > p {
    background-color: yellow;
  }

  div + p {
    background-color: yellow;
  }

  div ~ p {
    background-color: yellow;
  }

/* Combining Two Selectors */

 h1:has(+ h2) {
    margin: 0 0 1rem 0;
  }

/* nesting selectors */