/*Class selector for class links and block*/
 .links {
    background-color: hsl(195, 53%, 79%);
    color: rgb(0,0,0);
    margin-top: .5cm;
    margin-bottom: .5cm;
    margin-left: .5cm;
    margin-right: .5cm;
    padding-left: .25in;
    padding-right: .25in;
    padding-top: .25in;
    padding-bottom: .25in;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-left-width: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: black;
    border-bottom-color: color(display-p3 0% 0% 0% /0.8);
    border-right-color: color-mix(blend, cyan, magenta);
    border-left-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .block {
    background-color: #f5f5dc;
    color: rgb(0,0,0);
    margin: .5cm .5cm .5cm .5cm;
    padding: .25in .25in .25in .25in;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px 10px 10px;
  }

 #id {
    text-align: start;
    color: red;
  }

  /*Universal Selector*/
 * h1{
    font-family: helvetica;
    margin: auto;
    color: black;
    text-decoration: overline underline;
 }

 /*Element Selector*/
 ol {
    display: block;
  }

  a[target] {
    background-color: yellow;
  }

  a:hover {
    color: #FF00FF;
  }

  h2, h3, h4, h5, h6 {
    font-family: helvetica;
  }

  div p {
    background-color: yellow;
  }

  div > p {
    background-color: yellow;
  }

  div + p {
    background-color: yellow;
  }

  div ~ p {
    background-color: yellow;
  }

/* Combining Two Selectors */

 h1:has(+ h2) {
    margin: 0 0 1rem 0;
  }

/* nesting selectors */